*.o
*.a
*.depend
src/usr.sbin/nsd/Makefile
src/usr.sbin/nsd/config.h
src/usr.sbin/nsd/config.log
src/usr.sbin/nsd/config.status
src/usr.sbin/nsd/configlexer.c
src/usr.sbin/nsd/configparser.c
src/usr.sbin/nsd/configparser.h
src/usr.sbin/nsd/simdzone/Makefile
src/usr.sbin/nsd/simdzone/config.h
src/usr.sbin/nsd/simdzone/config.log
src/usr.sbin/nsd/simdzone/config.status
src/usr.sbin/nsd/simdzone/include/zone/export.h
src/usr.sbin/nsd/simdzone/src/fallback/parser.d
src/usr.sbin/nsd/simdzone/src/haswell/parser.d
src/usr.sbin/nsd/simdzone/src/westmere/parser.d
src/usr.sbin/nsd/simdzone/src/zone.d
src/usr.sbin/nsd/nsd
src/usr.sbin/nsd/nsd-checkconf
*.8
src/usr.sbin/nsd/nsd-checkzone
src/usr.sbin/nsd/nsd-control
src/usr.sbin/nsd/nsd-control-setup.sh
*.5
src/usr.sbin/nsd/nsd.conf.sample
